@model IEnumerable<QLCafe.WEB.Models.TableCoffees.TableCoffeesView>

@{
    ViewData["Title"] = "TableCoffees";
}

    <h1>TableCoffees</h1>

<p>
    <a class="btn btn-primary" asp-controller="TableCoffees" asp-action="Create">TableCoffees Create</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-warning", onClick = "return confirm('Are you sure you want to delete?' )"})
                @Html.ActionLink("The table list is empty", "GetEmptyTable", new { id = item.ID }, new { @class="btn btn-danger" })
                @Html.ActionLink("List of tables booked", "GetNotEmptyTable", new { id = item.ID }, new { @class="btn btn-info" })
            </td>
        </tr>
}
    </tbody>
</table>
